/* margin top of the navbar */
.espacetopnavbar {
    margin-top: 10px;
}

body{
    font-family: 'Noto Sans', sans-serif;  
}

/*Form*/

#form_test{
    
}

/*End Form*/

/*Sections */
.section_odd{
    background-color:white;
}
.section_even{
    background-color:rgb(255, 117, 4);
    
}
.shadow_bot{
    box-shadow: 20px 20px 0 20px rgb(38, 0, 255);
}


#about{
        
}
#app{

}
#link{

}
#team{
}
#follow{

}
#contact{

}
/* End Sections */

/* Picture Team*/
.team_pic{
    border-radius: 50%;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.ben_pic{
    border-radius: 50%;
    display: block;
    margin: 10px auto 10px auto;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* End Picture Team */



@media (max-width: 1200px) {
    /* CSS that should be displayed if width is equal to or less than 1200px goes here */
    
    /*Sections */
    #about{
        
    }
    #app{
    
    }
    #link{
    
    }
    #team{

    }
    #follow{
    
    }
    #contact{
    
    }
    /* End Sections */


  }
@media (max-width: 992px) {
    /* CSS that should be displayed if width is equal to or less than 992px goes here */

    /*Sections */
    #about{

    }
    #app{
    
    }
    #link{
    
    }
    #team{
    }
    #follow{
    
    }
    #contact{
    
    }
    /* End Sections */


  }
@media (max-width: 768px) {
    /* CSS that should be displayed if width is equal to or less than 768px goes here */

    /*Sections */
    #about{
        
    }
    #app{
    
    }
    #link{
    
    }
    #team{
    }
    #follow{
    
    }
    #contact{
    
    }
    /* End Sections */

  }

@media (max-width: 576px) {
    /* CSS that should be displayed if width is equal to or less than 576px goes here */

    /*Sections */
    #about{
        
    }
    #app{
    
    }
    #link{
    
    }
    #team{
    }
    #follow{
    
    }
    #contact{
    
    }
    /* End Sections */
  }