/* margin top of the navbar */
.espacetopnavbar {
    margin-top: 10px;
    background-color:rgba(255, 209, 4, 0.568);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1;
    

}
.navbar_font{
    color: rgb(46, 45, 45);
    font-weight: bold;
    font-size: 1.1em;
}

body{
    font-family: 'Noto Sans', sans-serif;  
}

.sol_box{
}

/*Form*/

#form_test{
    
}

/*End Form*/

/*Sections */
.title{
    font-weight: bold;
    position: relative;
    z-index: 2;
}
.section_odd{
    background-color:rgba(255, 255, 255, 0.849);
    -moz-box-shadow: 0 22px 22px -22px rgba(0, 0, 0, 0.8) inset, 0 -22px 22px -22px rgba(0, 0, 0, 0.8) inset;
    -webkit-box-shadow: 0 22px 22px -22px rgba(0, 0, 0, 0.8) inset, 0 -22px 22px -22px rgba(0, 0, 0, 0.8) inset;
    box-shadow: 0 22px 22px -22px rgba(0, 0, 0, 0.8) inset, 0 -22px 22px -22px rgba(0, 0, 0, 0.8) inset;
}
.section_even{
    background-color:rgba(255, 217, 4, 0.733);

    
}
.shadow_bot{

}


#about{
        
}
#app{

}
#link{

}
#team{
}
#follow{

}
#contact{

}
/* End Sections */

/* Picture Team*/
.team_pic{
    border-radius: 50%;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.ben_pic{
    border-radius: 50%;
    display: block;
    margin: 10px auto 10px auto;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* End Picture Team */



@media (max-width: 1200px) {
    /* CSS that should be displayed if width is equal to or less than 1200px goes here */
    
    /*Sections */
    #about{
        
    }
    #app{
    
    }
    #link{
    
    }
    #team{

    }
    #follow{
    
    }
    #contact{
    
    }
    /* End Sections */


  }
@media (max-width: 992px) {
    /* CSS that should be displayed if width is equal to or less than 992px goes here */

    /*Sections */
    #about{

    }
    #app{
    
    }
    #link{
    
    }
    #team{
    }
    #follow{
    
    }
    #contact{
    
    }
    /* End Sections */


  }
@media (max-width: 768px) {
    /* CSS that should be displayed if width is equal to or less than 768px goes here */

    /*Sections */
    #about{
        
    }
    #app{
    
    }
    #link{
    
    }
    #team{
    }
    #follow{
    
    }
    #contact{
    
    }
    /* End Sections */

  }

@media (max-width: 576px) {
    /* CSS that should be displayed if width is equal to or less than 576px goes here */

    /*Sections */
    #about{
        
    }
    #app{
    
    }
    #link{
    
    }
    #team{
    }
    #follow{
    
    }
    #contact{
    
    }
    /* End Sections */
  }